// nice names for colors courtesy of https://chir.ag/projects/name-that-color/
$transparent: rgba(255, 255, 255, 0);
$opaque-white: rgba(255, 255, 255, 1);

// Grayscale
$white: #fff;
$alabaster: #f9f9f9;
$gallery: #eee;
$alto: #ddd;
$silver: #ccc;
$silver-chalice: #aaa;
$dusty-gray: #999;
$dove-gray: #666;
$tundora: #444;
$tundora-shaft: #3b3b3b;
$mine-shaft: #303030;
$cod-gray: #111;
$dark-cod-gray: #060606;
$black: #000000;

// Colors!
$supernova: #FECE06;
$tacha: #cfbf5b;
$turmeric: #CCBA47;
$goblin: #42853e;
$jaffa: #ED804A;
$cinnabar: #E13B33;
$curious-blue: #3B90DE;