// nice names for colors courtesy of https://chir.ag/projects/name-that-color/

// Grayscale
$white: #fff;
$gallery: #eee;
$alto: #ddd;
$silver: #ccc;
$silver-chalice: #aaa;
$dusty-gray: #999;
$dove-gray: #666;
$tundora: #444;             // table row bg
$tundora-shaft: #3b3b3b;
$mine-shaft: #303030;       // general app bg
$cod-gray: #111;
$dark-cod-gray: #060606;
$black: #000000;

// Colors!
$tacha: #cfbf5b;
$turmeric: #CCBA47;
$goblin: #42853e;
$jaffa: #ED804A;
$cinnabar: #E13B33;
$curious-blue: #3B90DE;