@import '@/assets/colors';

@mixin hypertext {
	text-decoration: none;
	color: $curious-blue;
	transition: 0.4s;
}

#inspire {
	margin: 0 auto;
	font-weight: normal;
	letter-spacing: 1px;
}

a {
	@include hypertext()
}

.text-spaced {
	letter-spacing: 0.1em !important;
}

.rounded img {
	border-radius: 20%;
}

.subtitle--emphasis {
	letter-spacing: 2px;
	font-weight: 600;
}

.loader {
	height: 80vh;
	margin: 0;
	position: absolute;
	top: 40%;
}

.bump-animation:hover {
	transform: scale(1.05);
}

// THE COLORS, DUKE!
.favorite {
	color: $turmeric;
}

.complete {
	color: $goblin;
}

.queued {
	color: $jaffa;
}

// // global button colors
// .save {
// 	color: $curious-blue;
// }

// .remove {
// 	color: $cinnabar;
// }

// global btn styles
.v-card__actions .v-btn {
	margin: auto 5px;
	padding: 5px 9px;
}

// preserve some colors
.v-alert.text-info i,
.v-btn.text-info span.v-btn__content {
	color: rgb(var(--v-theme-info)) !important;
}

// text overlay for images
div.text-color--contrast {
	color: $white !important
}

// change other colors depending on light/dark theme
.v-theme--light {

	span:not(.v-alert__underlay),
	div:not(.v-alert__content):not(.v-alert__prepend):not(.v-overlay__content),
	a .v-icon,
	strong {
		color: $tundora
	}

	// high-contrast content for buttons and alerts
	.v-btn,
	.v-alert {

		&.bg-primary,
		&.bg-secondary,
		&.bg-info,
		&.bg-warning {

			.v-btn__content,
			i.v-icon.v-icon {
				color: $white
			}
		}
	}

	.v-main.main-body {
		background-color: $gallery;
	}
}

.v-theme--dark {

	span:not(.v-alert__underlay),
	div:not(.v-alert__content):not(.v-alert__prepend),
	a .v-icon,
	strong {
		color: $silver
	}

	// high-contrast content for buttons and alerts
	.v-btn,
	.v-alert {

		&.bg-primary,
		&.bg-secondary,
		&.bg-info,
		&.bg-warning {

			.v-btn__content,
			i.v-icon.v-icon {
				color: $mine-shaft
			}
		}
	}

	.v-main.main-body {
		background-color: $cod-gray;
	}
}

.v-theme--light .v-list-item__overlay,
.v-theme--dark .v-list-item__overlay {
	opacity: 0;
}

.v-theme--light .footer--link {
	span {
		color: $tundora;

		strong {
			@include hypertext()
		}
	}
}

.v-theme--dark .footer--link {
	span {
		color: $silver;

		strong {
			@include hypertext()
		}
	}
}