@import '@/assets/colors';

@mixin hypertext {
	text-decoration: none;
	color: $curious-blue;
	transition: 0.4s;
}

#inspire {
	margin: 0 auto;
	font-weight: normal;
	letter-spacing: 1px;
}

a {
	@include hypertext()
}

.subtitle--emphasis {
	letter-spacing: 2px;
	font-weight: 600;
}

.loader {
	height: 80vh;
	margin: 0;
	position: absolute;
	top: 25vh;
}




// THE COLORS, DUKE!

// preserve some colors
.v-alert.text-info i,
.v-btn.text-info span.v-btn__content {
	color: rgb(var(--v-theme-info)) !important;
}

// change other colors depending on light/dark theme
.v-theme--light {

	span:not(.v-alert__underlay),
	div:not(.v-alert__content),
	// span:not(.v-btn.text-info span.v-btn__content),
	strong,
	.v-icon {
		color: $tundora
	}

	.text-color--contrast,
	div.text-color--contrast,
	.text-color--contrast i.v-icon.v-icon,
	.v-alert .v-icon,
	.v-btn.text-color--contrast .v-btn__content {
		color: $white
	}

	.v-main.main-body {
		background-color: $gallery;
	}
}

.v-theme--dark {

	span:not(.v-alert__underlay),
	div:not(.v-alert__content),
	strong,
	.v-icon {
		color: $silver
	}

	.text-color--contrast,
	div.text-color--contrast,
	.text-color--contrast i.v-icon.v-icon,
	.v-alert .v-icon,
	.v-btn.text-color--contrast .v-btn__content,
	.v-alert.bg-error .v-alert__content {
		color: $mine-shaft
	}

	.v-main.main-body {
		background-color: $cod-gray;
	}
}

.v-theme--light .v-list-item__overlay,
.v-theme--dark .v-list-item__overlay {
	opacity: 0;
}

.v-theme--light .footer--link {
	span {
		color: $tundora;

		strong {
			@include hypertext()
		}
	}
}

.v-theme--dark .footer--link {
	span {
		color: $silver;

		strong {
			@include hypertext()
		}
	}
}