@import '@/assets/colors';

// general modals
.modal-contents .v-card {

	.v-card-actions .v-btn:not(.v-btn--size-small) {
		width: 100px;
		margin: 10px;
	}

	.v-card-actions .v-btn.v-btn--size-small {
		width: 75px;
	}
}
